* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#nav {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 30px;
}

#nav h4 {
  font-size: 20px;
  font-weight: 600;
}
#nav i {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  font-weight: 500;
}
#center {
  width: 100%;
  /* background-color: red; */
  padding: 40px 80px;
}

#center h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
#center-in {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#center-in p {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

#right {
  width: 20%;
}
.elem {
  /* background-color: yellow; */
  padding: 15px 0;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elem i {
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
}

.elem a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.elem:hover i {
  opacity: 1;
}

.elem:hover {
  background-color: rgb(226, 226, 226);
}

#bottom {
  height: 34.1%;
  width: 100%;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1611855363188-b25d9f25781e?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 25%; /* pehli value x-axis and dusri value y-axis (x,y)*/
}
